@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../../node_modules/font-awesome/css/font-awesome.css';

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.browseupgrade {
  background: #ccc;
  padding: 0.2em;
}

input[type=text], input[type=email],input[type=password] {
  width: 200px;
}
